.home {
  display: flex;
  flex-direction: column;
}

.home>main {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.others{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
