<section class="home">
  <app-menu></app-menu>
  <app-title></app-title>
  <main>
    <article>
      <app-big-card
        photoCover="https://images.hdqwalls.com/download/react-js-logo-no-3840x2160.jpg"
        link="https://adriannemendes.vercel.app/arts"
        title="Confira meu ultimo site feito em React."
        description="O site é um portifolio de artista, onde mostra as principais obras, produtos e colaborações da artista."
      ></app-big-card>
    </article>
    <article class="others">
      <app-card
        photo="https://m.media-amazon.com/images/S/pv-target-images/9cf17c5615094819626799ce9ddf086bc646941f72ce347f0aff15b194f3044c.jpg"
        title="Indicação de serie."
        link="#"
      ></app-card>
      <app-card
        photo="https://m.media-amazon.com/images/I/61CZXPu2aRL._AC_UF1000,1000_QL80_.jpg"
        title="Indicação de livro."
        link="#"
      ></app-card>
    </article>
  </main>
</section>
